#
# Example TINKTEP config file.
# v1.08 February 2017.

jobname my_molecule

# *** Computational environment set-up ***
tinker_nthreads 8
onetep_nranks 4
onetep_nthreads 4
onetep_executable ./onetep.RH65
mpirun_executable mpirun

# *** Nuts and bolts of the QM/MM interface ***
qm_polarisability
qm_thole_polarisability
renumber_offset 500

# *** Physics ***

# Undamped fixed, permanent multipoles using the full density representation 
# and Thole-damped induced dipoles using the QM* representation.
onetep_perm_mpoles	perm_fix	potential_coulombic_smeared	energy_from_potential
onetep_induced_dipoles	ind_qmstar 	potential_thole_damped      	energy_from_potential

# TINKER handles bonded (valence) terms between MM atoms.
tinker_bond_energy 1
tinker_angle_energy 1

# TINKER handles MM electrostatics.
tinker_mm_perm_energy 1
tinker_mm_pol_energy 1

# ONETEP, not TINKER, handles QM/MM electrostatics.
tinker_qm_mm_perm_energy 0
tinker_qm_mm_pol_energy 0

# TINKER handles van der Waals for both QM/MM and MM.
tinker_qm_mm_vdw_energy 1
tinker_mm_vdw_energy 1
